@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins&display=swap');

:root {
  --color-green: #26b887;
  --color-red: #fe5c76;
  --color-blue: #1c6afe;
  --color-white: #ffffff;
  --color-light-gray: #eff0f3;
  --color-gray: #96a7b7;
  --color-dark-gray: #363d43;
  --font-title: "League Spartan", sans-serif;
  --font-text: "Poppins", sans-serif;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(90deg, #fafafa 0%, #ececec 100%);
  font-family: var(--font-text);
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: calc(100vh - 60px);
  width: 95%;
}

/* General UI */

.reset {
  all: unset;
}

.alert {
  background-color: #fff0f0;
  border: 1px solid var(--color-red);
  color: var(--color-red);
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  text-align: left;
  width: 100%;
}

.alert__description {
  margin: 0;
}

.btn {
  all: unset;
  border: 2px solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: .5rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.15s;
  -webkit-transition: transform 0.15s;
  -moz-transition: transform 0.15s;
  -ms-transition: transform 0.15s;
  -o-transition: transform 0.15s;
  user-select: none;
}

.btn:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.btn-green {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.btn-green--outline {
  background-color: transparent;
  border-color: var(--color-white);
}

.btn-dark-gray {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
}

/* Navbar */

.navbar {
  align-items: center;
  background-color: var(--color-dark-gray);
  box-shadow: var(--box-shadow);
  color: var(--color-white);
  height: 60px;
}

.navbar__list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  list-style: none;
  margin: auto 0;
  padding: 0 2rem;
}

.navbar__item {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
}

.navbar__text {
  font-family: var(--font-title);
  font-weight: bold;
  margin: 0 1rem;
}

.navbar__text--name {
  display: none;
}

.navbar__link {
  cursor: pointer;
  transition: transform 0.15s;
  -webkit-transition: transform 0.15s;
  -moz-transition: transform 0.15s;
  -ms-transition: transform 0.15s;
  -o-transition: transform 0.15s;
}

.navbar__link:hover {
  color: var(--color-red);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.navbar__link:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

/* Forms */

.form {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
}

.form__field {
  margin-bottom: 1rem;
  width: 100%;
}

.form__label {
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
}

.form__input, .form__text-area {
  background-color: var(--color-light-gray);
  border: 0;
  color: var(--color-dark-gray);
  outline-color: var(--color-dark-gray);
  padding: .5rem 1rem;
  resize: vertical;
  width: 100%;
}

.form__select:hover {
  cursor: pointer;
}

.form__input--inline {
  width: auto;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.form__buttons .btn {
  margin-bottom: 1rem;
}

.form__buttons .btn:last-child {
  margin-bottom: 0;
}

/* Form decorators */

.form__search::-webkit-search-decoration,
.form__search::-webkit-search-cancel-button,
.form__search::-webkit-search-results-button,
.form__search::-webkit-search-results-decoration {
  display: none;
}

.form__search, .form__select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.25rem;
}

.form__search {
  background-image: url("data:image/svg+xml,%3Csvg style='height:24px;width:24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16 6.5 6.5 0 0 1 3 9.5 6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z' fill='currentColor'/%3E%3C/svg%3E");
}

.form__select {
  padding-right: 3rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
}

/* Card */

.card {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.card__row {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.card__row--colored {
  background-color: var(--color-green);
}

.card__body {
  margin: auto 0;
  text-align: center;
}

.card__title, .card__subtitle, .card__description {
  margin: 0;
  margin-bottom: 1rem;
}

.card__title {
  font-size: 2.5em;
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

.card__subtitle {
  color: var(--color-white);
  font-size: 2em;
  font-family: var(--font-title);
}

.card__description {
  color: var(--color-white);
  font-size: 1em;
  line-height: 1.5;
}

/* Auth */

.auth {
  margin: 2rem 0;
  max-width: 1000px;
  min-height: 400px;
}

/* Movements */

.movements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0;
  overflow: auto;
}

.movements__header, .movements__totals, .movements__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movements__header {
  padding: 2rem;
}

.movements__title {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: bold;
}

.movements__title, .movements__controls .form__input:first-child {
  margin-bottom: 1rem;
}

.movements__controls {
  padding: 1rem 2rem 0 2rem;
}

.movements__totals {
  border-bottom: 1px solid var(--color-gray);
  padding: 0 2rem 2rem 2rem;
}

.movements__total-card {
  align-items: center;
  border: 2px solid;
  display: flex;
  flex-basis: calc(33% - 2rem);
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.movements__total-card:last-of-type {
  margin-bottom: 0;
}

.movements__total-amount {
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: .25rem;
}

.movements__total-card--general {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

.movements__total-card--incomes {
  border-color: var(--color-green);
  color: var(--color-green);
}

.movements__total-card--expenses {
  border-color: var(--color-red);
  color: var(--color-red);
}

.movements__body {
  overflow: auto;
  padding: 0 2rem;
}

/* Movements form */

.movements-form {
  margin: 2rem 0;
  max-width: 600px;
  padding: 2rem;
}

/* Table */

.table {
  border-spacing: 0;
}

.table__head {
  color: var(--color-gray);
}

.table__header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-dark-gray);
  padding: 1rem 2rem;
}

.table__body {
  text-align: center;
}

.table__row:nth-of-type(odd) {
  background-color: var(--color-light-gray);
  border: 0;
  outline: 0;
}

.table__cell {
  padding: 1rem 2rem;
  white-space: nowrap;
}

.table__card {
  border: 1px solid;
  padding: .25rem .5rem;
  font-size: 0.8rem;
  user-select: none;
  font-family: var(--font-title);
}

.table__cell--incomes {
  border-color: var(--color-green);
  color: var(--color-green);
}

.table__cell--expenses {
  border-color: var(--color-red);
  color: var(--color-red);
}

.table__icon {
  cursor: pointer;
  margin: 0 .25rem;
  transition: transform 0.15s;
  -webkit-transition: transform 0.15s;
  -moz-transition: transform 0.15s;
  -ms-transition: transform 0.15s;
  -o-transition: transform 0.15s;
  user-select: none;
  vertical-align: text-top;
}

.table__icon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.table__icon:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.table__icon--blue:hover {
  color: var(--color-blue);
}

.table__icon--red:hover {
  color: var(--color-red);
}

/* Paginator */

.paginator {
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 1rem 2rem 2rem 2rem;
  padding: 0;
  user-select: none;
}

.paginator__page-item {
  padding: 1rem 0;
}

.paginator__page-link {
  padding: .5rem;
}

.paginator__page-link:hover {
  color: var(--color-blue);
  cursor: pointer;
}


.paginator__page-item--active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.paginator__page-link--active:hover {
  color: var(--color-white);
  cursor: default;
}

.paginator__page-link--break {
  color: var(--color-gray);
}


@media (min-width: 480px) {

  /* General UI */
  .form__buttons {
    flex-direction: row;
  }

  .form__buttons .btn {
    margin-bottom: 0;
  }

  /* Navbar */
  .navbar__text--name {
    display: inline-block;
  }

  /* Movements */

  .movements__header, .movements__totals, .movements__controls {
    align-items: center;
    flex-direction: row;
  }

  .movements__title {
    text-align: center;
  }

  .movements__title, .movements__controls .form__input:first-child, .movements__total-card {
    margin-bottom: 0rem;
  }

  /* Paginator */
  .paginator__page-link {
    padding: 1rem;
  }
}

@media (min-width: 768px) {

  /* Card */
  .card {
    flex-direction: row;
  }

  .card--inverse {
    flex-direction: row-reverse;
  }

  .card__row {
    width: 50%;
  }

  /* Movements */
  .movements {
    flex-direction: column;
  }
}